.button-primary {
    position: relative; color: white;
    text-align: center; text-decoration: none;
    font-size: 12px; margin: 10px 250x;
    display: inline-block; border-radius: 0.35em;
    padding: 10px 30px; background-color: #9e0843;
    border: 0; transition-duration: 0.8s; cursor: pointer;
}

.on-touch {
    background-color: #2C2F36;
    color: #9e0843;
    border: 2px solid #9e0843;
}
.on-touch:hover {
    background-color: #9e0843; color: white;
}

span.intLink, a, a:visited {
    cursor: pointer;
    color: #2C2F36;
    text-decoration: underline;
}

#info {
    width: 180px;
    height: 150px;
    float: right;
    background-color: #1abc9c;
    padding: 4px;
    overflow: auto;
    font-size: 12px;
    margin: 4px;
    border-radius: 5px;
  /* visibility: hidden; */
}

.lyrics {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px,
    rgba(255,255,255,0.1) 1px 0, rgba(255,255,255,0.1) 0 1px,
    rgba(0,0,0,0.1) -1px -1px, rgba(255,255,255,0.1) 1px 1px;
    font-size: 18px;
}

#cover {
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #1abc9c;
}

.w-100 {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid #1abc9c;
}

.w-50 {
    width: 50%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid #1abc9c;
}

.w-25 {
    width: 25%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid #1abc9c;
}

.wl-33 {
    float: left; 
    width: 33%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.wl-34 {
    float: left; 
    width: 34%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.wr-33 {
    float: right; 
    width: 33%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.wr-34 {
    float: right; 
    width: 34%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}