.button-primary {
    position: relative; color: white;
    text-align: center; text-decoration: none;
    font-size: 12px; margin: 10px 250x;
    display: inline-block; border-radius: 0.35em;
    padding: 10px 30px; background-color: #1abc9c;
    border: 0; transition-duration: 0.8s; cursor: pointer;
}
.button-chat {
    background-color: #555; color: white;
    padding: 16px 20px; border: none;
    cursor: pointer; opacity: 0.8;
    transition-duration: 0.8s; position: fixed;
    bottom: 23px; right: 28px; width: 280px;
}
.on-touch {
    background-color: #2C2F36;color: #1abc9c;
    border: 2px solid #1abc9c;
}
.on-touch:hover {
      background-color: #1abc9c; color: white;
}

